* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F3F5FC;
}


.container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
   
}

section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    width: 55%;
}

.encriptado {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    width:70%;

}

#botones {
    display: flex;
    justify-content: space-between;
}

textarea {
    height: 85%;
    vertical-align: top;
    text-align: unset;
    border: none;
    font-size: 32px;
    color: #0A3871;

}

textarea:focus {
    outline: none;
}


textarea::placeholder {
    font-size: 32px;
    color: #0A3871;
    
}

section p {
    color: #495057;
    font-size: 12px;
}


aside  {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
    margin-top: 50px;
    background-color: #FFF;
    text-align: center;
    color: #495057;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

img, h3, aside p {
    background-color: #FFF;
    
}

aside p {
    margin-bottom: 20px;
}


button {
    padding: 15px;
    width: 45%;
    border-radius: 20px;
    border: none;
    background-color: #F3F5FC;
    color: #0A3871;
    border: 1px solid #0A3871;
}

button:hover {
    background-color: #D8DFE8 ;
    border: solid 1px #0A3871;
    color: #0A3871;
}

#boton-encriptar {
    background-color: #0A3871;
    color: #FFF;
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: space-around;
 
    }

    #logo {
        height: 50px;
       margin-left:10px
    }

    section {
        width: 100vw;
        height: 600px;
    }

    .encriptado {
        margin: 0;
        width: 95vw;
        margin: 20px
    }

    .encriptado p {
        text-align: left;
    }

    textarea {
        
        justify-content: center;
        width: 95vw;
        margin-left: 0px;
    }

    
    aside img {
        display: none;
    }

    aside {
        margin: 0 auto;
        justify-content: center;
        width: 95vw;
        height: 150px;
    }
}

@media (max-width: 375px) {

    main {
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: space-around;
 
    }

    #logo {
        height: 50px;
       margin-left:10px
    }

    section {
        width: 100vw;
        height: 600px;
    }

    .encriptado {
        margin: 0;
        width: 100vw;
        align-items: center;
    
    }

    .encriptado p {
        text-align: left;
    }

    textarea {
        
        justify-content: center;
        width: 350px;
        margin-left: 0px;
    }

    #botones {
        margin-top: 10px;
        flex-direction: column;
        width: 360px;
        height: 100px;
        gap: 8px;
        align-items: center;
    }

    aside img {
        display: none;
    }

    aside {
        margin: 0 auto;
        justify-content: center;
        width: 350px;
        height: 150px;
    }

    button {
        width: 350px;
    }

    
}
